@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }

body h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilizando o cabeçalho */
header{
    background-image: 
        url("imagens/LOGOS-SITE-DA-ESP-CABECALHO.png"),     /* Imagem da logo */
        linear-gradient(to right, #68e420, #41b6b6);    /* Gradiente */
    background-repeat: no-repeat;                           /* Impede que a imagem ou gradiente repita */
    background-position: center ;                        /* Centraliza a imagem no topo */
    background-size: auto, cover;                           /* Ajusta o tamanho da imagem e do gradiente */
    color: aliceblue;                                     /* Cor do texto */
    padding: 100px;                                          /* Espaçamento interno */
    
}
header h1{
    font-size: 2.5em;    /* Tamanho maior para o título */
    margin: 0;          /* Remove a margem padrão */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul{
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;        /* Remove o espaçamento padrão da lista */
    text-align: left; /*Alinhamneto a esqueda*/
}

nav a{
    color: white; /*Cor dos links*/
    text-decoration: none; /*removendo o sublinhado*/
}
nav a :hover{
    text-decoration: underline;  /*Sublinhe o link ao passar o mouse*/
}


/* Estilizando o conteúdo principal */
main{
    padding: 20px; /* Espaçamento interno no conteúdo principal */
}
section{
    margin-bottom: 30px;
}
section h2{
    color: #333; /* Cor para os subtítulos */
    font-size: 2em; /* Aumenta o tamanho da fonte dos subtítulos */
}
section p{
    font-size: 1.2em;  /* Aumenta o tamanho da fonte do parágrafo */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
}

article{
    color: #333; /* Cor para os subtítulos */
    font-size: 1.2em;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

aside{
    background-color: #f4f4f4;  /* Fundo claro para o aside */
    padding: 20px;                  /* Espaçamento interno */
    border-left: 5px solid #ccc; /* Borda à esquerda */
    margin-top: 20px;          /* Espaçamento superior */

}

/*Estilizando o rodape da pagina*/
footer{
    font-size: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;


}




